:root {
  --background: #fff;
  --text-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --text-color: #fff;
  }
}


body {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  background-color: var(--background);
  color: var(--text-color);
}

h1,
h2 {
  margin: 0
}

h1 {
  font-size: 10em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}