:root {
  --background: #fff;
  --text-color: #1e1e1e;
  --accent: #0381ff;
  --lighter-bg: #e7e6eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --text-color: #fff;
    --lighter-bg: #201f22;
    --accent: #56ddff;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1em;
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 3.5em;
  line-height: 1.7ch;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  margin-bottom: 10px;
}

a {
  color: var(--accent)
}

img {
  display: block;
  width: 100%;
  height: auto !important;
}

header,
main {
  max-width: 650px;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}

header {
  margin: 75px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
  justify-content: space-between;
}

.skills h3 {
  width: 100%;
}

.skills h4 {
  margin-bottom: 5px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projects article {
  background-color: var(--lighter-bg);
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  /* box-shadow: 2px 2px 0px 0px #494949; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}