<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maxime</title>
    <meta name="description" content="full stack dev" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h1>
        hi 👋
        <br />
        I'm Maxime
      </h1>
      <h2>a full stack dev from France</h2>
      <p>
        let's get in touch!
        <a href="https://www.linkedin.com/in/maxime-f-7a266b228/">linkedin</a>
        <a href="mailto:mximef@proton.me">mximef@proton.me</a>
        <br />
        <br />
        <a href="https://github.com/mx-me">github</a>
        <a href="https://x.com/mximedev">x</a>
      </p>
    </header>
    <main>
      <section class="projects">
        <h3>projects</h3>

        {% set section = get_section(path="projects/_index.md") %} {% for
        project in section.pages %}
        <li>
          {{ project.title }}
          <p>{{ project.content | safe }}</p>
          {# {{project.repo}} {{project.demo}} #}

          <time>{{ project.date | date(format="%Y-%m-%d") }}</time>
        </li>
        {% endfor %} {#
        <article>
          <h4>quick comms</h4>
          <p>
            art request platform for artists facilitating payments using stable
            coin aiming for frictionless commissions
          </p>
          <a href="https://github.com/mx-me/commissions">repo</a>
        </article>
        #}
        <article>
          <h4>player</h4>
          <p>minimal react music player for showcasing musical projects</p>
          <a href="https://github.com/mx-me/player">repo</a>
          <a href="https://player-457.pages.dev/">demo</a>
        </article>
        {#
        <article>
          <h4>exploration</h4>
          <p>walking simulator web game made in rust using bevy</p>
          <a href="">play it here!</a>
        </article>
        #}
        <article>
          <h4>µchan</h4>
          <p>
            proof of concept federated typescript image board
            <br />
            backend written with deno, next.js web client
          </p>
          <a href="https://github.com/mx-me/uchan">repo</a>
        </article>
        <article>
          <h4>portfolio</h4>
          <p>
            this page! static site made using
            <a href="https://www.getzola.org/">zola</a>, no js needed
          </p>
          <a href="https://github.com/mx-me/portfolio">repo</a>
        </article>
      </section>
      <section class="skills">
        <h3>proficiencies</h3>
        <article>
          <h4>databases</h4>
          <ul>
            <li>sqlite</li>
            <li>postgres</li>
            <li>redis</li>
          </ul>
        </article>
        <article>
          <h4>languages</h4>
          <ul>
            <li>typescript</li>
            <li>rust</li>
          </ul>
        </article>
        <article>
          <h4>frameworks</h4>
          <ul>
            <li>next.js</li>
            <li>astro</li>
            <li>hono</li>
            <li>trpc</li>
            <li>actix</li>
          </ul>
        </article>
        <article>
          <h4>libraries/misc</h4>
          <ul>
            <li>drizzle</li>
            <li>sqlx</li>
          </ul>
        </article>
      </section>
      {#
      <section>
        <h4>my blog</h4>
        {% set section = get_section(path="_index.md") %} {% for post in
        section.pages %}
        <div>
          <a href="{{ post.permalink }}">{{ post.title }}</a>
        </div>
        {% endfor %}
      </section>
      #}
    </main>
  </body>
</html>
